img{
	width: 200px;
}
.name
{
	top: 60px;
	right:567px;
}
body {
	background-color:powderblue;
} 
.info{
	display: inline-block;
	position: relative;
	bottom :50px;
	right:-30px;

}
table{
	padding-left: 30px;
	text-align: left;
}
td{
	padding:7px;
}
.tt{
	padding-left: 50px;
}